<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<header style="color: blue">
    This is header
</header>

@RenderBody()
@RenderSection("NewSection")

<footer style="color: red">
    This is header
</footer>

</body>
</html>