<form method="post" asp-controller="NoModelBinding" asp-action="Index">
    <label>Name:</label>
    <input type="text" name="UserName" />
    <br />
    <label>Email:</label>
    <input type="text" name="UserEmail" />
    <br />
    <button type="submit">Submit</button>
</form>